/* Custom page CSS
-------------------------------------------------- */

body > .container, .container-fluid {
  padding: 57px 4px 0;
}

.sprint-range-filler {
  height: 220px;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.bar {
    fill: steelblue;
}

.bar text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.chart {
  width: 100%;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.d3-tip {
  line-height: 1;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
